# -------------------------
# Environment variables
# -------------------------
.env
.env.*
*.env

# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# -------------------------
# Logs
# -------------------------
logs/
*.log

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE files
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# Playwright
# -------------------------
playwright-report/
test-results/

# -------------------------
# Data files
# -------------------------
*.csv
*.xlsx

# -------------------------
# Google credentials
# -------------------------
service_account.json
credentials.json

# -------------------------
# Cache
# -------------------------
.cache/